body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, Helvetica, sans-serif,
    monospace;
}

.navbar {
  display: flex;
  border-bottom: 1px solid rgb(146, 146, 146);
  border-radius: 0.5rem;
}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  margin-right: 2.5rem;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: .7rem;
}
li:hover {
  background-color: #cdcdcd;
  color: white;
}

.logui{
  margin: auto;
  
}
button{
        font-weight: bold ;
        font-size: .9rem;
        cursor: pointer;
        padding:0.5rem 1.3rem ;
        border: 1px solid #787878;
        margin-left: 1rem;
        background-color: white;
        border-radius: 1rem;
}

button:hover {
    background-color: #787878;
    color: white;
    border: 1px solid #ffffff;
}

.logo{
  height: 4.5rem;
  margin-left: 2rem;
}

.navList{
  list-style: none;
}

